#q1, #q2, #q3, #q4, #q5 {
    margin: 0 0 20px;
}

#trivia-box, #results-box {
    display: none;
}

.container {
    max-width: 750px;
    height: 620px;
    max-height: fit-content;
    padding: 20px 20px;
    background-color: lightblue;
}

#timer {
    margin: 0px 0px 10px;
    padding: 10px 0px;
    background-color: black;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}